<!-- INIZIO CAROSELLO -->
<div id="main">
    <div
        id="carouselVideoExample"
        class="carousel slide carousel-fade"
        data-mdb-ride="carousel"
    ></div>
    <!-- Inner -->
    <div class="carousel-inner">
        <!-- Single item -->
        <div class="carousel-item active">
            <img class="banner" src="../../../assets/img/italia banner.jpeg" />
            <div
                class="carousel-caption d-flex justify-content-center flex-column mb-5"
            >
                <h5 id="titolo">Italia</h5>
            </div>
        </div>
        <!-- Inner -->
    </div>

    <div class="description">
        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex align-items-start flex-column ps-5">
                <div>
                    <h3 class="titolidescri">Incluso nel pacchetto:</h3>
                    <ul class="text-light">
                        <li>10 notti in hotel a 4 stelle</li>
                        <li>Trattamento: colazione inclusa</li>
                        <li>Assicurazione base</li>
                        <li>
                            Trasferimento andata/ritorno dall’aeroporto
                            all’hotel
                        </li>
                    </ul>
                </div>
                <div>
                    <h3 class="titolidescri">Cosa non è incluso:</h3>
                    <ul class="text-light">
                        <li>
                            Il Volo (puoi aggiungerlo come extra nel carrello)
                        </li>
                        <li>Escursioni e attività opzionali</li>
                        <li>Spese di viaggio e personali</li>
                    </ul>
                </div>
            </div>
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12367286.690984856!2d2.1222823647390245!3d40.820119293446055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12d4fe82448dd203%3A0xe22cf55c24635e6f!2sItalia!5e0!3m2!1sit!2sit!4v1695661292899!5m2!1sit!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="p-4">
            <h3 class="titolidescri">Descrizione del viaggio:</h3>
            <p class="text-light">
                L'Italia è una destinazione straordinaria con una vasta gamma di attrazioni. Potrai esplorare città affascinanti come Roma, con il Colosseo e il Vaticano, o Venezia, con i suoi canali unici. Inoltre, potrai scoprire le meraviglie dell'arte e della storia in città come Firenze, con il suo patrimonio rinascimentale, o Napoli, con la sua autentica cucina. Puoi anche rilassarti sulle coste mozzafiato dell'Amalfi o esplorare le pittoresche campagne della Toscana. Con la sua ricca storia, la cucina deliziosa e la bellezza naturale, l'Italia offre un'esperienza indimenticabile per i viaggiatori di tutte le età.
            </p>
        </div>
    </div>
    <div class="d-flex">
        <div class="container">
            <div class="card">
                <div class="card__image-container">
                    <img
                        class="card__image"
                        src="../../../assets/img/italia cucina.jpg"
                        alt=""
                    />
                </div>

                <svg class="card__svg" viewBox="0 0 800 500">
                    <path
                        d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500"
                        stroke="transparent"
                        fill="rgb(27, 73, 101)"
                    />
                    <path
                        class="card__line"
                        d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400"
                        stroke="pink"
                        stroke-width="3"
                        fill="transparent"
                    />
                </svg>

                <div class="card__content2">
                    <h1 class="card__title">Cucina</h1>
                    <p>
                        La cucina italiana è una mescolanza di influenze regionali, con piatti iconici come la pizza e la pasta. Caratterizzata da sapori autentici e ingredienti come l'olio d'oliva, il pomodoro e il formaggio, riflette la ricca tradizione culinaria dell'Italia.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card__image-container">
                    <img
                        class="card__image"
                        src="../../../assets/img/italia cultura.jpg"
                        alt=""
                    />
                </div>

                <svg class="card__svg" viewBox="0 0 800 500">
                    <path
                        d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500"
                        stroke="transparent"
                        fill="rgb(27, 73, 101)"
                    />
                    <path
                        class="card__line"
                        d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400"
                        stroke="pink"
                        stroke-width="3"
                        fill="transparent"
                    />
                </svg>

                <div class="card__content">
                    <h1 class="card__title">Cultura</h1>
                    <p>
                        La cultura italiana è una fusione di influenze mediterranee, europee e altre, celebrata attraverso l'arte, la cucina, la moda e la sua lunga storia. La diversità culturale è un tratto distintivo che caratterizza l'identità complessa e affascinante dell'Italia.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card__image-container">
                    <img
                        class="card__image"
                        src="../../../assets/img/italia passaporto.jpg"
                        alt=""
                    />
                </div>

                <svg class="card__svg" viewBox="0 0 800 500">
                    <path
                        d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500"
                        stroke="transparent"
                        fill="rgb(27, 73, 101)"
                    />
                    <path
                        class="card__line"
                        d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400"
                        stroke="pink"
                        stroke-width="3"
                        fill="transparent"
                    />
                </svg>

                <div class="card__content3">
                    <h1 class="card__title">Faq & Info</h1>
                    <p>
                        Per recarsi in Italia, è di solito necessario un passaporto valido per la durata del soggiorno pianificato. Tuttavia, le regole possono variare in base alla nazionalità e al motivo del viaggio. Verificare le esigenze specifiche presso l'ambasciata o il consolato italiano o sul sito web ufficiale del governo italiano prima di partire è fondamentale.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar">
        <h2 id="demotext">Prezzo</h2>
        <p class="text-light">A partire da 230€</p>
        <a class="btn btn-outline-light" routerLink="/prenota" routerLinkActive="active" id="button"><strong>Prenota ora</strong></a>
    </div>
</div>
