<div class="carousel-inner">
    <!-- Single item -->
    <div class="carousel-item active">
        <img
            class="img-fluid"
            src="https://www.flytap.com/-/media/Flytap/new-tap-pages/travel-with-children/family-travellling/family-travelling-hero-banner-ip-desktop-1920x300.jpg?w=1920&h=300&op=c"
            alt=""
        />
        <div
            class="carousel-caption d-flex justify-content-center flex-column mb-5"
        >
            <h6 id="neonati">NEONATI E BAMBINI A BORDO</h6>
            <h1 id="bambini">Viaggiare con bambini e neonati</h1>
        </div>
    </div>
    <!-- Inner -->
</div>
<div class="ps-5">
    <h4>
        Scopra qui tutti i servizi che abbiamo a disposizione per rendere il suo
        viaggio e quello dei suoi figli ancora più indimenticabile
    </h4>
    <br />
    <ul id="lista">
        <li>
            <strong>Attestati di battesimo del volo</strong> per i più piccoli;
        </li>
        <li>
            <strong>Imbarco prioritario</strong> e servizio di assistenza alle
            persone con mobilità ridotta, se necessario;
        </li>
        <li>
            <strong
                >Autorizzazione a trasportare il passeggino fino al gate di
                imbarco;</strong
            >
        </li>
        <li>
            <strong
                >Trasporto di un passeggino per bambini in cabina, in
                sostituzione di un bagaglio a mano</strong
            >
            come consentito dalla sua tariffa, a condizione che non superi le
            dimensioni e il peso massimi attualmente consentiti per il bagaglio
            a mano.
        </li>
        <li>
            Se viaggia con un neonato, può richiederci una culla. Non deve
            superare 11 kg / 24 lbs di peso e il neonato non deve avere più di
            12 mesi di età;
        </li>
        <li>
            <strong>Pasti speciali</strong> per bambini e neonati sui voli a
            lungo raggio;
        </li>
        <li>
            <strong>Offerta a bordo</strong> dedicata ai bambini e kit per
            neonati sui voli intercontinentali;
        </li>
        <li><strong>Intrattenimento</strong> con contenuti dedicati;</li>
        <li>
            <strong>Servizio di assistenza per minori non accompagnati.</strong>
        </li>
    </ul>
</div>
<div class="help-section mx-5">
    <p>
        Assegnazione automatica e gratuita dei posti al momento del check-in
        nella zona standard per adulti e bambini nella stessa prenotazione,<br />
        indipendentemente dalla tariffa scelta. Quando possibile e se c'è
        disponibilità, l'adulto verrà assegnato alla stessa fila di posti del
        bambino, o a una fila <br />
        adiacente. Consigliamo di scegliere in anticipo i posti per tutta la
        famiglia per garantire di viaggiare vicini e nei posti preferiti.
    </p>
</div>

<div class="rimborso-content pt-5">
    <h1 class="rimborso-heading text-center">
        <strong>Solo il meglio per i passeggeri più esigenti</strong>
    </h1>
    <p class="rimborso-description text-center">
        Le nostre proposte per il comfort di tutta la famiglia.
    </p>
</div>

<div class="py-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-image">
                        <img
                            src="https://www.flytap.com/-/media/Flytap/illustration/children/big/flying-with-babies-children-big.svg"
                            alt=""
                        />
                    </div>
                    <h5 class="card-title text-center">
                        Viaggiare con bambini e neonati
                    </h5>
                    <p class="card-body text-center">
                        Ai più piccoli GUZ Viaggi garantisce comodità,
                        divertimento e pasti speciali.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-image">
                        <img
                            src="https://www.flytap.com/-/media/Flytap/illustration/baggage/big/hold-baggage-big.svg?la=it-IT&hash=2438A2B066A822CB598CBD17D28463A81A98E024"
                            alt=""
                        />
                    </div>
                    <h5 class="card-title text-center">
                        Minori non accompagnati
                    </h5>
                    <p class="card-body text-center">
                        GUZ Viaggi prevede un servizio di accompagnamento per i
                        minori che viaggiano da soli.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
