<!-- INIZIO CAROSELLO -->
<div id="main">
    <div
        id="carouselVideoExample"
        class="carousel slide carousel-fade"
        data-mdb-ride="carousel"
    ></div>
    <!-- Inner -->
    <div class="carousel-inner">
        <!-- Single item -->
        <div class="carousel-item active">
            <img class="banner" src="../../../assets/img/spagna banner.jpg" />
            <div
                class="carousel-caption d-flex justify-content-center flex-column mb-5"
            >
                <h5 id="titolo">Spagna</h5>
            </div>
        </div>
        <!-- Inner -->
    </div>

    <div class="description">
        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex align-items-start flex-column ps-5">
                <div>
                    <h3 class="titolidescri">Incluso nel pacchetto:</h3>
                    <ul class="text-light">
                        <li>10 notti in hotel a 4 stelle</li>
                        <li>Trattamento: colazione inclusa</li>
                        <li>Assicurazione base</li>
                        <li>
                            Trasferimento andata/ritorno dall’aeroporto
                            all’hotel
                        </li>
                    </ul>
                </div>
                <div>
                    <h3 class="titolidescri">Cosa non è incluso:</h3>
                    <ul class="text-light">
                        <li>
                            Il Volo (puoi aggiungerlo come extra nel carrello)
                        </li>
                        <li>Escursioni e attività opzionali</li>
                        <li>Spese di viaggio e personali</li>
                    </ul>
                </div>
            </div>
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6250603.7284236755!2d-8.99993940802808!3d40.09654013358068!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xc42e3783261bc8b%3A0xa6ec2c940768a3ec!2sSpagna!5e0!3m2!1sit!2sit!4v1695664753962!5m2!1sit!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="p-4">
            <h3 class="titolidescri">Descrizione del viaggio:</h3>
            <p class="text-light">
                La Spagna è una destinazione straordinaria con una vasta gamma di attrazioni. Potrai esplorare città affascinanti come Barcellona, con la sua architettura unica, o Madrid, con i suoi musei di fama mondiale. Inoltre, potrai rilassarti sulle spiagge della Costa del Sol, esplorare la cultura flamenco e assaporare la cucina spagnola. Con la sua ricca storia, la cultura vibrante e una varietà di esperienze uniche, la Spagna offre un'esperienza indimenticabile per i viaggiatori di tutte le età.
            </p>
        </div>
    </div>
    <div class="d-flex">
        <div class="container">
            <div class="card">
                <div class="card__image-container">
                    <img
                        class="card__image"
                        src="../../../assets/img/spagna cucina"
                        alt=""
                    />
                </div>

                <svg class="card__svg" viewBox="0 0 800 500">
                    <path
                        d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500"
                        stroke="transparent"
                        fill="rgb(27, 73, 101)"
                    />
                    <path
                        class="card__line"
                        d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400"
                        stroke="pink"
                        stroke-width="3"
                        fill="transparent"
                    />
                </svg>

                <div class="card__content2">
                    <h1 class="card__title">Cucina</h1>
                    <p>
                        La cucina spagnola è una festa di sapori e piatti tradizionali, con specialità come la paella, il gazpacho e le tapas. Caratterizzata da ingredienti freschi come pomodori maturi, olio d'oliva extravergine e frutti di mare, riflette la ricca tradizione culinaria della Spagna.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card__image-container">
                    <img
                        class="card__image"
                        src="../../../assets/img/spagna cultura.jpg"
                        alt=""
                    />
                </div>

                <svg class="card__svg" viewBox="0 0 800 500">
                    <path
                        d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500"
                        stroke="transparent"
                        fill="rgb(27, 73, 101)"
                    />
                    <path
                        class="card__line"
                        d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400"
                        stroke="pink"
                        stroke-width="3"
                        fill="transparent"
                    />
                </svg>

                <div class="card__content">
                    <h1 class="card__title">Cultura</h1>
                    <p>
                        La cultura spagnola è una fusione di influenze mediterranee, europee e moresche, celebrata attraverso la musica, la danza, la cucina e la sua lunga storia. La diversità culturale è un tratto distintivo che caratterizza l'identità variegata e affascinante della Spagna.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card__image-container">
                    <img
                        class="card__image"
                        src="../../../assets/img/spagna passaporto.jpg"
                        alt=""
                    />
                </div>

                <svg class="card__svg" viewBox="0 0 800 500">
                    <path
                        d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500"
                        stroke="transparent"
                        fill="rgb(27, 73, 101)"
                    />
                    <path
                        class="card__line"
                        d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400"
                        stroke="pink"
                        stroke-width="3"
                        fill="transparent"
                    />
                </svg>

                <div class="card__content3">
                    <h1 class="card__title">Faq & Info</h1>
                    <p>
                        Per viaggiare in Spagna, di solito è necessario un passaporto valido. Verificare i requisiti specifici è essenziale.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar">
        <h2 id="demotext">Prezzo</h2>
        <p class="text-light">A partire da 465€</p>
        <a class="btn btn-outline-light" routerLink="/prenota" routerLinkActive="active" id="button"><strong>Prenota ora</strong></a>
    </div>
</div>
