<div id="container" class="d-flex justify-content-center">

    <div id="chiSiamo">
      <div id="containerOmbra" class="p-5">

        <div id="title" class="text-center">
          <img src="../../assets/img/Logo.png" class="mb-3" alt="logo">
          <h1>Chi siamo?</h1>
        </div>



        <div class="card mb-5">
          <div class="row g-0 align-items-center">
            <div class="col-md-4">
              <img src="../../assets/img/ragazzainaereo.jpg" class="img-fluid rounded-start"
                alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h4 class="card-title">La nostra Mission!</h4>
                <p class="card-text">La nostra missione è rendere ogni viaggio un'esperienza unica. Siamo qui per soddisfare le vostre aspettative e superarle. Che siate alla ricerca di una vacanza rilassante in un paradiso tropicale o di un'avventura emozionante in un luogo remoto, siamo qui per guidarvi in ogni passo del vostro percorso.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-5">
          <div class="row g-0 align-items-center">
            <div class="col-md-8 align-items-center justify-content-center">
              <div class="card-body">
                <h4 class="card-title">La nostra storia.</h4>
                <p class="card-text">"GUZ Viaggi" è un'agenzia di viaggi dedicata a trasformare i vostri sogni in avventure indimenticabili. Con oltre 20 anni di esperienza nel settore, siamo un team appassionato di esperti del viaggio che si impegna a offrirvi esperienze di viaggio straordinarie.</p>
              </div>
            </div>
            <div class="col-md-4">
              <img src="../../assets/img/famiglia.jpg"
                class="img-fluid rounded-start" alt="...">
            </div>
          </div>
        </div>


      </div>

    </div>


  </div>
