<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img
                src="../../assets/img/Logo.png"
                alt="Bootstrap"
                width="75"
                height="70"
            />
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <button
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        Prenotare e gestire
                    </button>
                    <ul
                        class="dropdown-menu multi-level"
                        role="menu"
                        aria-labelledby="dropdownMenu"
                    >
                        <li class="divider"></li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" class="link mx-2 p-1"
                                ><i class="bi bi-globe-europe-africa text-success"></i> Destinazioni</a
                            >
                            <ul class="dropdown-menu">
                                <li>
                                    <a
                                        class="text-decoration-none text-success"
                                        routerLink="/brasile"
                                        routerLinkActive="active"
                                        ><i
                                            class="bi bi-geo-fill text-danger"
                                        ></i>
                                        Brasile</a
                                    >
                                </li>
                                <hr
                                    class="border border-1 border-dark my-1 mx-0"
                                />
                                <li>
                                    <a
                                        class="text-decoration-none text-success"
                                        routerLink="/canada"
                                        routerLinkActive="active"
                                        ><i
                                            class="bi bi-geo-fill text-danger"
                                        ></i>
                                        Canada</a
                                    >
                                </li>
                                <hr
                                    class="border border-1 border-dark my-1 mx-0"
                                />
                                <li>
                                    <a
                                        class="text-decoration-none text-success"
                                        routerLink="/cuba"
                                        routerLinkActive="active"
                                        ><i
                                            class="bi bi-geo-fill text-danger"
                                        ></i>
                                        Cuba</a
                                    >
                                </li>
                                <hr
                                    class="border border-1 border-dark my-1 mx-0"
                                />
                                <li>
                                    <a
                                        class="text-decoration-none text-success"
                                        routerLink="/egitto"
                                        routerLinkActive="active"
                                        ><i
                                            class="bi bi-geo-fill text-danger"
                                        ></i>
                                        Egitto</a
                                    >
                                </li>
                                <hr
                                    class="border border-1 border-dark my-1 mx-0"
                                />
                                <li>
                                    <a
                                        class="text-decoration-none text-success"
                                        routerLink="/francia"
                                        routerLinkActive="active"
                                        ><i
                                            class="bi bi-geo-fill text-danger"
                                        ></i>
                                        Francia</a
                                    >
                                </li>
                                <hr
                                    class="border border-1 border-dark my-1 mx-0"
                                />
                                <li>
                                    <a
                                        class="text-decoration-none text-success"
                                        routerLink="/giordania"
                                        routerLinkActive="active"
                                        ><i
                                            class="bi bi-geo-fill text-danger"
                                        ></i>
                                        Giordania</a
                                    >
                                </li>
                                <hr
                                    class="border border-1 border-dark my-1 mx-0"
                                />
                                <li>
                                    <a
                                        class="text-decoration-none text-success"
                                        routerLink="/grecia"
                                        routerLinkActive="active"
                                        ><i
                                            class="bi bi-geo-fill text-danger"
                                        ></i>
                                        Grecia</a
                                    >
                                </li>
                                <hr
                                    class="border border-1 border-dark my-1 mx-0"
                                />
                                <li>
                                    <a
                                        class="text-decoration-none text-success"
                                        routerLink="/italia"
                                        routerLinkActive="active"
                                        ><i
                                            class="bi bi-geo-fill text-danger"
                                        ></i>
                                        Italia</a
                                    >
                                </li>
                                <hr
                                    class="border border-1 border-dark my-1 mx-0"
                                />
                                <li>
                                    <a
                                        class="text-decoration-none text-success"
                                        routerLink="/kenya"
                                        routerLinkActive="active"
                                        ><i
                                            class="bi bi-geo-fill text-danger"
                                        ></i>
                                        Kenya</a
                                    >
                                </li>
                                <hr
                                    class="border border-1 border-dark my-1 mx-0"
                                />
                                <li>
                                    <a
                                        class="text-decoration-none text-success"
                                        routerLink="/maldive"
                                        routerLinkActive="active"
                                        ><i
                                            class="bi bi-geo-fill text-danger"
                                        ></i>
                                        Maldive</a
                                    >
                                </li>
                                <hr
                                    class="border border-1 border-dark my-1 mx-0"
                                />
                                <li>
                                    <a
                                        class="text-decoration-none text-success"
                                        routerLink="/marocco"
                                        routerLinkActive="active"
                                        ><i
                                            class="bi bi-geo-fill text-danger"
                                        ></i>
                                        Marocco</a
                                    >
                                </li>
                                <hr
                                    class="border border-1 border-dark my-1 mx-0"
                                />
                                <li>
                                    <a
                                        class="text-decoration-none text-success"
                                        routerLink="/messico"
                                        routerLinkActive="active"
                                        ><i
                                            class="bi bi-geo-fill text-danger"
                                        ></i>
                                        Messico</a
                                    >
                                </li>
                                <hr
                                    class="border border-1 border-dark my-1 mx-0"
                                />
                                <li>
                                    <a
                                        class="text-decoration-none text-success"
                                        routerLink="/portogallo"
                                        routerLinkActive="active"
                                        ><i
                                            class="bi bi-geo-fill text-danger"
                                        ></i>
                                        Portogallo</a
                                    >
                                </li>
                                <hr
                                    class="border border-1 border-dark my-1 mx-0"
                                />
                                <li>
                                    <a
                                        class="text-decoration-none text-success"
                                        routerLink="/regnounito"
                                        routerLinkActive="active"
                                        ><i
                                            class="bi bi-geo-fill text-danger"
                                        ></i>
                                        Regno Unito</a
                                    >
                                </li>
                                <hr
                                    class="border border-1 border-dark my-1 mx-0"
                                />
                                <li>
                                    <a
                                        class="text-decoration-none text-success"
                                        routerLink="/spagna"
                                        routerLinkActive="active"
                                        ><i
                                            class="bi bi-geo-fill text-danger"
                                        ></i>
                                        Spagna</a
                                    >
                                </li>
                                <hr
                                    class="border border-1 border-dark my-1 mx-0"
                                />
                                <li>
                                    <a
                                        class="text-decoration-none text-success"
                                        routerLink="/statiuniti"
                                        routerLinkActive="active"
                                        ><i
                                            class="bi bi-geo-fill text-danger"
                                        ></i>
                                        Stati Uniti</a
                                    >
                                </li>
                                <hr
                                    class="border border-1 border-dark my-1 mx-0"
                                />
                                <li>
                                    <a
                                        class="text-decoration-none text-success"
                                        routerLink="/tunisia"
                                        routerLinkActive="active"
                                        ><i
                                            class="bi bi-geo-fill text-danger"
                                        ></i>
                                        Tunisia</a
                                    >
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        Preparare il viaggio
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a
                                class="text-decoration-none text-dark mx-2 p-1"
                                routerLink="/bagaglio"
                                routerLinkActive="active"
                                ><i class="bi bi-luggage-fill text-success"></i>
                                Bagaglio</a
                            >
                        </li>
                        <hr class="border border-1 border-dark my-1 mx-0" />
                        <li>
                            <a
                                class="text-decoration-none text-dark mx-2 py-2"
                                routerLink="/famiglia"
                                routerLinkActive="active"
                                ><i class="bi bi-airplane text-success"></i>
                                Viaggio in famiglia</a
                            >
                        </li>
                        <hr class="border border-1 border-dark my-1 mx-0" />
                        <li>
                            <a
                                class="text-decoration-none text-dark mx-2 p-1"
                                routerLink="/speciali"
                                routerLinkActive="active"
                                ><i
                                    class="bi bi-person-wheelchair text-success"
                                ></i>
                                Bisogni speciali</a
                            >
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav d-flex justify-content-end">
                <li class="nav-item" *ngIf="!isLoggedIn()">
                    <a
                        class="nav-link active"
                        routerLink="/login2"
                        routerLinkActive="active"
                        ><i class="bi bi-person-fill text-success px-1"></i
                        >Login</a
                    >
                </li>
                <li class="nav-item" *ngIf="!isLoggedIn()">
                    <a
                        class="nav-link active"
                        routerLink="/register"
                        routerLinkActive="active"
                        ><i class="bi bi-person-plus-fill text-success px-1"></i
                        >Registrati</a
                    >
                </li>
            </ul>
        </div>
        <div class="navbar-right">
            <ul class="navbar-nav">
              <li *ngIf="isLoggedIn()" class="d-flex align-items-center">
                <h6 class="welcomeMessage text-black pt-2">Benvenuto <strong id="username">{{ user }}</strong> </h6>
                <button type="button" class="btn custom-logout-button" (click)="logout()"><i class="bi bi-box-arrow-right"></i> Esci</button>
              </li>
            </ul>
        </div>
    </div>
</nav>
