<div class="rimborso">
    <div class="rimborso-content">
        <h1 class="rimborso-heading">
            <strong>Ritardi e cancellazioni dei voli</strong>
        </h1>
        <p class="rimborso-description">
            Il suo volo ha subito un ritardo, una cancellazione o una
            riprogrammazione? Consulti qui cosa può fare e quali sono i suoi
            diritti.
        </p>
    </div>
    <div class="pt-5">
        <h1>
            Cosa aspettarsi quando il volo viene cancellato o subisce modifiche?
        </h1>
        <br />
        <ul id="lista">
            <li>
                <p>
                    La informeremo del ritardo o della cancellazione del suo
                    volo via e-mail e/o SMS;
                </p>
            </li>
            <li>
                <p>
                    In caso di cancellazione del volo, le prenoteremo
                    automaticamente un posto sul prossimo volo disponibile;
                </p>
            </li>

            <li>
                <p>
                    Se il nuovo volo assegnato non è di suo gradimento e la sua
                    prenotazione è idonea, riceverà un link nella sua e-mail per
                    poter modificare il suo volo;
                </p>
            </li>
            <li>
                <p>
                    Faremo il possibile per mantenere i posti che aveva
                    selezionato;
                </p>
            </li>
            <li>
                <p>
                    Se dovesse pernottare, le forniremo gratuitamente alloggio
                    presso una struttura alberghiera fino a quando non sarà
                    disponibile un volo alternativo.
                </p>
            </li>
            <li>
                <p>
                    A seconda del tempo di attesa fino al volo alternativo,
                    offriremo pasti e bevande;
                </p>
            </li>
            <li>
                <p>
                    Per cancellazioni e ritardi superiori a 3 ore, pagheremo un
                    risarcimento in conformità al regolamento 261/2004 se i
                    disagi non sono causati da circostanze straordinarie:
                </p>
                <ul>
                    <li>
                        ritardi/cancellazioni superiori a 2 ore - per voli fino
                        a 1.500 km;
                    </li>
                    <li>
                        ritardi/cancellazioni superiori a 3 ore - per voli tra
                        1.500 e 3.500 km;
                    </li>
                    <li>
                        ritardi/cancellazioni superiori a 4 ore - per tutti i
                        voli con più di 3.500 km.
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="pt-5">
        <h1>Cosa bisogna fare?</h1>
        <br />
        <ul id="lista">
            <li>
                <p>
                    Controlli lo stato del suo volo tramite il nostro sito web
                    flytap.com – "Informazioni sul volo"
                </p>
            </li>
            <li>
                <p>
                    Verifichi se ha ricevuto le notifiche che abbiamo inviato
                    tramite e-mail o SMS, tra le quali un link a una piattaforma
                    online per la gestione del suo viaggio e scelga un volo
                    alternativo;
                </p>
            </li>

            <li>
                <p>
                    Potrà trovare le alternative per il suo viaggio e informarci
                    delle sue decisioni attraverso queste piattaforme online che
                    mettiamo a sua disposizione;
                </p>
            </li>
            <li>
                <p>
                    Se non avesse ricevuto un link nell'e-mail che le abbiamo
                    inviato, contatti il nostro Contact Center;
                </p>
            </li>
            <li>
                <p>
                    Eviti code e assembramenti: effettui il check-in online
                    invece che in aeroporto;
                </p>
            </li>
            <li>
                <p>
                    Si assicuri di superare i controlli di sicurezza
                    dell'aeroporto almeno 45 minuti prima dell'orario previsto
                    per la partenza del suo volo;
                </p>
            </li>
            <li>
                <p>
                    Se il suo è un volo internazionale, si assicuri di passare
                    il controllo passaporti almeno 60 minuti prima dell'orario
                    previsto per la partenza del suo volo.
                </p>
            </li>
        </ul>
    </div>
    <div class="pt-5">
        <h1>Forme di risarcimento</h1>
        <br />
        <ul id="lista">
            <li>
                <p>
                    In contanti - per l'importo di cui al regolamento 261/2004,
                    in base a km e tempo di ritardo o tempo fino a una nuova
                    proposta di volo alternativo:
                </p>
                <ul>
                    <li>
                        da € 125 a € 250 per tutti i voli di 1.500 chilometri o
                        meno;
                    </li>
                    <li>
                        da € 200 a € 400 per tutti i voli intracomunitari
                        superiori a 1.500 chilometri e per tutti gli altri voli
                        compresi tra 1.500 e 3.500 chilometri;
                    </li>
                    <li>
                        Da € 300 a € 600 per tutti i voli non inclusi in a o b
                    </li>
                </ul>
            </li>
            <br />
            <li>
                <p>
                    In buono. Per maggiori informazioni sui diritti dei
                    passeggeri e sul regolamento 261/2004, consulta le
                    Condizioni Generali di Trasporto.
                </p>
            </li>
        </ul>
    </div>
</div>
