.rimborso {
    background-color: white;
    padding: 4rem;
}

.rimborso-content {
    text-align: center;
    color: #333;
}

.rimborso-heading {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.rimborso-description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

#lista {
    font-size: 15px;
    color: green;
}
