<div class="lavora-con-noi">
    <div class="lavora-con-noi-content">
        <h1 class="lavora-con-noi-heading">Lavora con noi</h1>
        <p class="lavora-con-noi-description">
            Siamo sempre alla ricerca di persone appassionate e talentuose per
            unirsi al nostro team. Se vuoi far parte di una grande squadra e
            contribuire a creare esperienze di viaggio uniche, inviaci il tuo
            curriculum vitae e saremo lieti di valutare la tua candidatura.
        </p>
        <a href="https://accounts.google.com/v3/signin/identifier?hl=IT&ifkv=AYZoVhflT3g4VX9A-iQ_hVj-JN5CgB2aQ0zpAw6g_GdggWKCAaENklS3ajwAIZ7LEAJfSaL6wLnY&flowName=GlifWebSignIn&flowEntry=ServiceLogin&dsh=S-217278262%3A1696368859078762&theme=glif"><button class="button">Invia il tuo CV</button></a>
    </div>
</div>
