<div class="lavora-con-noi">
    <div class="lavora-con-noi-content">
      <h1 class="lavora-con-noi-heading">Lavora con noi</h1>
      <p class="lavora-con-noi-description">
        Siamo sempre alla ricerca di persone appassionate e talentuose per unirsi al nostro team.
        Se vuoi far parte di una grande squadra e contribuire a creare esperienze di viaggio uniche,
        inviaci il tuo curriculum vitae e saremo lieti di valutare la tua candidatura.
      </p>
      <button class="button">Invia il tuo CV</button>
    </div>
</div>
