<!-- INIZIO CAROSELLO -->
<div id="main">
    <div
        id="carouselVideoExample"
        class="carousel slide carousel-fade"
        data-mdb-ride="carousel"
    ></div>
    <!-- Inner -->
    <div class="carousel-inner">
        <!-- Single item -->
        <div class="carousel-item active">
            <img class="banner" src="../../../assets/img/Brasile.jpg" />
            <div
                class="carousel-caption d-flex justify-content-center flex-column mb-5"
            >
                <h5 id="titolo">Egitto</h5>
            </div>
        </div>
        <!-- Inner -->
    </div>

    <div class="description">
        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex align-items-start flex-column ps-5">
                <div>
                    <h3 class="titolidescri">Incluso nel pacchetto:</h3>
                    <ul class="text-light">
                        <li>10 notti in hotel a 4 stelle</li>
                        <li>Trattamento: colazione inclusa</li>
                        <li>Assicurazione base</li>
                        <li>
                            Trasferimento andata/ritorno dall’aeroporto
                            all’hotel
                        </li>
                    </ul>
                </div>
                <div>
                    <h3 class="titolidescri">Cosa non è incluso:</h3>
                    <ul class="text-light">
                        <li>
                            Il Volo (puoi aggiungerlo come extra nel carrello)
                        </li>
                        <li>Escursioni e attività opzionali</li>
                        <li>Spese di viaggio e personali</li>
                    </ul>
                </div>
            </div>
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7292342.916685257!2d25.582821441870724!3d26.81722375010113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14368976c35c36e9%3A0x2c45a00925c4c444!2sEgitto!5e0!3m2!1sit!2sit!4v1695658263390!5m2!1sit!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="p-4">
            <h3 class="titolidescri">Descrizione del viaggio:</h3>
            <p class="text-light">
                L'Egitto è una destinazione affascinante con una ricca storia e cultura millenaria. Puoi esplorare le antiche piramidi di Giza, ammirare i tesori del Museo Egizio al Cairo e crogiolarti sotto il sole sulle coste del Mar Rosso, come Sharm el-Sheikh o Hurghada. Con la sua storia unica, la cultura vibrante e i tesori archeologici, l'Egitto offre un'esperienza indimenticabile per i viaggiatori in cerca di avventure storiche e bellezze naturali.
            </p>
        </div>
    </div>
    <div class="d-flex">
        <div class="container">
            <div class="card">
                <div class="card__image-container">
                    <img
                        class="card__image"
                        src="../../../assets/img/egitto cucina.jpg"
                        alt=""
                    />
                </div>

                <svg class="card__svg" viewBox="0 0 800 500">
                    <path
                        d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500"
                        stroke="transparent"
                        fill="rgb(27, 73, 101)"
                    />
                    <path
                        class="card__line"
                        d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400"
                        stroke="pink"
                        stroke-width="3"
                        fill="transparent"
                    />
                </svg>

                <div class="card__content2">
                    <h1 class="card__title">Cucina</h1>
                    <p>
                        L'Egitto è famoso per piatti come il koshari e il falafel, con ingredienti come il pesce del Nilo e le spezie aromatiche. La cucina riflette la ricca storia e cultura egiziana.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card__image-container">
                    <img
                        class="card__image"
                        src="../../../assets/img/egitto cultura.jpg"
                        alt=""
                    />
                </div>

                <svg class="card__svg" viewBox="0 0 800 500">
                    <path
                        d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500"
                        stroke="transparent"
                        fill="rgb(27, 73, 101)"
                    />
                    <path
                        class="card__line"
                        d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400"
                        stroke="pink"
                        stroke-width="3"
                        fill="transparent"
                    />
                </svg>

                <div class="card__content">
                    <h1 class="card__title">Cultura</h1>
                    <p>
                        L'Egitto è famoso per le piramidi, il Museo Egizio e le spiagge del Mar Rosso. Una destinazione di storia e bellezza naturale.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card__image-container">
                    <img
                        class="card__image"
                        src="../../../assets/img/egitto passaporto.jpg"
                        alt=""
                    />
                </div>

                <svg class="card__svg" viewBox="0 0 800 500">
                    <path
                        d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500"
                        stroke="transparent"
                        fill="rgb(27, 73, 101)"
                    />
                    <path
                        class="card__line"
                        d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400"
                        stroke="pink"
                        stroke-width="3"
                        fill="transparent"
                    />
                </svg>

                <div class="card__content3">
                    <h1 class="card__title">Faq & Info</h1>
                    <p>
                        Per viaggiare in Egitto, hai bisogno di un passaporto valido e potrebbe essere richiesto un visto, a seconda della tua nazionalità. Verifica i requisiti con l'ambasciata o il consolato egiziano nel tuo paese.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar">
        <h2 id="demotext">Prezzo</h2>
        <p class="text-light">A partire da 100€</p>
        <a class="btn btn-outline-light" routerLink="/prenota" routerLinkActive="active" id="button"><strong>Prenota ora</strong></a>
    </div>
</div>
