<div class="rimborso">
    <div class="rimborso-content pt-4">
        <h1 class="rimborso-heading text-center"><strong>Bagaglio</strong></h1>
        <p class="rimborso-description text-center">
            Tutte le informazioni principali sui bagagli sono contenute qui.
        </p>
    </div>

    <div class="py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-image">
                            <img src="https://www.flytap.com/-/media/Flytap/illustration/baggage/big/hand-baggage-big.svg?la=it-IT&hash=CC8013A1ED7E0C76F467C4325EF8FF202DFD393E" alt="">
                        </div>
                        <p class="card-title text-center">Bagaglio a mano</p>
                        <p class="card-body text-center">
                            Dimensioni massime: 115 cm / 45 in
                            Peso massimo: 10kg / 22 lbs <br>
                            I limiti variano a seconda della classe e della destinazione.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-image">
                            <img src="https://www.flytap.com/-/media/Flytap/illustration/baggage/big/hold-baggage-big.svg?la=it-IT&hash=2438A2B066A822CB598CBD17D28463A81A98E024" alt=""></div>
                        <p class="card-title text-center">Bagaglio da stiva</p>
                        <p class="card-body text-center">
                            Dimensioni massime: 158 cm / 62 in.
                            Peso massimo: 32kg / 70 lbs. <br>
                            I limiti variano a seconda della classe e della destinazione.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-image">
                            <img src="https://www.flytap.com/-/media/Flytap/illustration/baggage/big/special-cabin-baggage-big.svg?la=it-IT&hash=2724A4B168FA53F84E92620A6ABFF461A4B8B44E" alt="">
                        </div>
                        <p class="card-title text-center">Bagaglio speciale</p>
                        <p class="card-body text-center">
                            Per non lasciare niente a casa.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-image">
                            <img src="https://www.flytap.com/-/media/Flytap/illustration/baggage/big/out-size-baggage-big.svg?la=it-IT&hash=3EA6D3ECC49BA277905611CA16CF78DF454BE5F6" alt="">
                        </div>
                        <p class="card-title text-center">Bagagli voluminosi</p>
                        <p class="card-body text-center">
                            Tutte le regole per viaggiare a bordo dei nostri velivoli con bagagli voluminosi.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-image"><img src="https://www.flytap.com/-/media/Flytap/illustration/special-baggage/big/dangerous-goods-big.svg?la=it-IT&hash=81931E6EDCB3F8BED613BB075505579B2C9895CB" alt=""></div>
                        <p class="card-title text-center">Articoli pericolosi</p>
                        <p class="card-body text-center">
                            La sicurezza al primo posto.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
