<div id="pagprenota">
    <form class="form" (ngSubmit)="prenotaViaggio()">
        <div class="input-container ic2">
            <input [(ngModel)]="dataPartenza" [ngModelOptions]="{ standalone: true }" type="date" name="andataPrenotazione" class="input" id="andataPrenotazione"
             />
            <div class="cut"></div>
        </div>
        <div class="input-container ic2">
            <input [(ngModel)]="dataRitorno" [ngModelOptions]="{ standalone: true }" type="date" name="ritornoPrenotazione" class="input" id="ritornoPrenotazione"
            />
            <div class="cut"></div>
        </div>

        <div class="input-container ic2">
            <input [(ngModel)]="numeroPersone" [ngModelOptions]="{ standalone: true }" type="number" name="numeroPersone" class="input"  id="numeroPersone"
            />
            <div class="cut cut-short"></div>
            <label class="iLabel" for="">Persone</label>
        </div>
        <button class="submit" type="text">
            <a class="" routerLink="/pagamento" routerLinkActive="active"
                ><strong>Prenota ora</strong></a
            >
        </button>
    </form>
</div>

