<div id="pagprenota">
    <div class="form">
        <div class="input-container ic1">
            <input placeholder="" type="text" class="input" id="username" />
            <div class="cut"></div>
            <label class="iLabel" for="username">Username</label>
        </div>

        <div class="input-container ic2">
            <input placeholder="" type="date" class="input" id="lastname" />
            <div class="cut"></div>
        </div>
        <div class="input-container ic2">
            <input placeholder="" type="date" class="input" id="lastname" />
            <div class="cut"></div>
        </div>

        <div class="input-container ic2">
            <input placeholder="" type="number" class="input" id="email" />
            <div class="cut cut-short"></div>
            <label class="iLabel" for="">Persone</label>
        </div>
        <button class="submit" type="text"><a class="" routerLink="/pagamento" routerLinkActive="active" ><strong>Prenota ora</strong></a></button>
    </div>
</div>
