<div class="rimborso">
    <div class="rimborso-content pt-4">
        <h1 class="rimborso-heading text-center">
            <strong>Bisogni speciali</strong>
        </h1>
        <p class="rimborso-description text-center">
            Il tuo benessere viene prima di tutto.
        </p>
    </div>

    <div class="pt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="card mb-1">
                        <div class="card-image">
                            <img
                                src="https://www.flytap.com/-/media/Flytap/illustration/special-needs/big/wheelchairs-big.svg"
                                alt=""
                            />
                        </div>
                        <p class="card-title text-center">Sedia a rotelle</p>
                        <p class="card-body text-center">
                            GUZ Viaggi presta assistenza a terra e a bordo ai
                            passeggeri con mobilità ridotta.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-1">
                        <div class="card-image">
                            <img
                                src="https://www.flytap.com/-/media/Flytap/illustration/special-needs/big/medical-assistance-big.svg"
                                alt=""
                            />
                        </div>
                        <p class="card-title text-center">Assistenza medica</p>
                        <p class="card-body text-center">
                            Creiamo le condizioni per far viaggiare tutti i
                            passeggeri in maniera sicura e confortevole
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="card mb-1">
                        <div class="card-image">
                            <img
                                src="https://www.flytap.com/-/media/Flytap/illustration/special-needs/big/pregnant-women-big.svg"
                                alt=""
                            />
                        </div>
                        <p class="card-title text-center">Gestanti</p>
                        <p class="card-body text-center">
                            Consulta i consigli per le gestanti prima e durante
                            il volo.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-1">
                        <div class="card-image">
                            <img
                                src="https://www.flytap.com/-/media/Flytap/illustration/special-needs/big/deaf-passengers-big.svg"
                                alt=""
                            />
                        </div>
                        <p class="card-title text-center">
                            Passeggeri non udenti
                        </p>
                        <p class="card-body text-center">
                            Servizi speciali pensati per i passeggeri con
                            deficit uditivi.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-1">
                        <div class="card-image">
                            <img
                                src="https://www.flytap.com/-/media/Flytap/illustration/special-needs/big/blind-passengers-big.svg"
                                alt=""
                            />
                        </div>
                        <p class="card-title text-center">
                            Passeggeri non vedenti
                        </p>
                        <p class="card-body text-center">
                            I nostri servizi di assistenza per i passeggeri non
                            vedenti.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-image">
                            <img
                                src="https://www.flytap.com/-/media/Flytap/illustration/special-needs/big/health-problems-big.svg"
                                alt=""
                            />
                        </div>
                        <p class="card-title text-center">Problemi di salute</p>
                        <p class="card-body text-center">
                            Passeggeri con problemi di salute: informarsi
                            sull'autorizzazione medica per l'imbarco.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-image">
                            <img
                                src="https://www.flytap.com/-/media/Flytap/illustration/animals/big/assistance-animals-big.svg"
                                alt=""
                            />
                        </div>
                        <p class="card-title text-center">
                            Animali di assistenza
                        </p>
                        <p class="card-body text-center">
                            Tutte le informazioni sulle condizioni per il
                            trasporto degli animali di assistenza.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
