<div class="rimborso">
    <div class="rimborso-content">
        <h1 class="rimborso-heading"><strong>Rimborso GUZ Viaggi</strong></h1>
        <p class="rimborso-description">
            Per assicurarsi di effettuare l'ordine correttamente, scelga una
            delle seguenti opzioni.
        </p>
    </div>

    <div class="py-5">
        <div class="container">
            <div class="row hidden-md-up">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-block p-3">
                            <h4 class="card-title p-5">
                                Il mio volo è stato cancellato da GUZ viaggi
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-block p-1">
                            <h4 class="card-title p-5">
                                Il mio volo è programmato e voglio cancellarlo o
                                modificarlo
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-block p-1">
                            <h4 class="card-title p-5">
                                La preghiamo di consultare lo stato di un
                                rimborso che è stato richiesto
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rimborso">
            <ul id="lista">
                <li>
                    <p>
                        Se il volo non è stato cancellato da GUZ Viaggi, la
                        modifica o la cancellazione verrà elaborata in
                        conformità coi termini e le condizioni <br />
                        della tariffa del biglietto che ha acquistato, che potrà
                        consultare qui;
                    </p>
                </li>
                <li>
                    <p>
                        La richiesta di rimborso online è disponibile solo per i
                        biglietti acquistati direttamente con GUZ Viaggi. Se la
                        sua prenotazione è stata <br />
                        effettuata tramite un'agenzia viaggi, contatti la sua
                        agenzia per richiedere un rimborso. Se non fosse
                        possibile risolvere la <br />
                        situazione con la sua agenzia, contatti il nostro
                        servizio di assistenza clienti.
                    </p>
                </li>

                <li>
                    <p>
                        Se il suo biglietto è stato acquistato tramite le miles
                        del Programma GUZ Miles&Go, potrà inviare la sua
                        richiesta di rimborso <br />
                        spese su questa pagina. Tuttavia, il rimborso delle
                        miles dovrà essere richiesto tramite il centro
                        assistenza (può trovare qui <br />
                        il recapito telefonico). Il rimborso delle miglia GUZ
                        del Programma GUZMiles&Go potrebbe comportare delle
                        penali.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
