<!-- INIZIO CAROSELLO -->
<div id="main">
    <div
        id="carouselVideoExample"
        class="carousel slide carousel-fade"
        data-mdb-ride="carousel"
    ></div>
    <!-- Inner -->
    <div class="carousel-inner">
        <!-- Single item -->
        <div class="carousel-item active">
            <img class="banner" src="../../../assets/img/Brasile.jpg" />
            <div
                class="carousel-caption d-flex justify-content-center flex-column mb-5"
            >
                <h5 id="titolo">Kenya</h5>
            </div>
        </div>
        <!-- Inner -->
    </div>

    <div class="description">
        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex align-items-start flex-column ps-5">
                <div>
                    <h3 class="titolidescri">Incluso nel pacchetto:</h3>
                    <ul class="text-light">
                        <li>10 notti in hotel a 4 stelle</li>
                        <li>Trattamento: colazione inclusa</li>
                        <li>Assicurazione base</li>
                        <li>
                            Trasferimento andata/ritorno dall’aeroporto
                            all’hotel
                        </li>
                    </ul>
                </div>
                <div>
                    <h3 class="titolidescri">Cosa non è incluso:</h3>
                    <ul class="text-light">
                        <li>
                            Il Volo (puoi aggiungerlo come extra nel carrello)
                        </li>
                        <li>Escursioni e attività opzionali</li>
                        <li>Spese di viaggio e personali</li>
                    </ul>
                </div>
            </div>
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8171114.06790472!2d32.60807013748022!3d0.16492611308235963!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182780d08350900f%3A0x403b0eb0a1976dd9!2sKenya!5e0!3m2!1sit!2sit!4v1695661612375!5m2!1sit!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="p-4">
            <h3 class="titolidescri">Descrizione del viaggio:</h3>
            <p class="text-light">
                Il Kenya è una destinazione affascinante con una ricca fauna selvatica e paesaggi spettacolari. Puoi esplorare le riserve di Maasai Mara e Tsavo per avvistare gli animali selvatici, fare trekking sul Monte Kenya, immergerti nella cultura delle tribù locali e rilassarti sulle bellissime spiagge dell'oceano Indiano. Con la sua diversità naturale, la fauna selvatica straordinaria e le culture uniche, il Kenya offre un'esperienza indimenticabile per i viaggiatori in cerca di avventure nella natura e incontri culturali.
            </p>
        </div>
    </div>
    <div class="d-flex">
        <div class="container">
            <div class="card">
                <div class="card__image-container">
                    <img
                        class="card__image"
                        src="../../../assets/img/cucina kenya.jpg"
                        alt=""
                    />
                </div>

                <svg class="card__svg" viewBox="0 0 800 500">
                    <path
                        d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500"
                        stroke="transparent"
                        fill="rgb(27, 73, 101)"
                    />
                    <path
                        class="card__line"
                        d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400"
                        stroke="pink"
                        stroke-width="3"
                        fill="transparent"
                    />
                </svg>

                <div class="card__content2">
                    <h1 class="card__title">Cucina</h1>
                    <p>
                        La cucina keniota è una fusione di influenze locali e internazionali, con piatti tradizionali come il nyama choma (carne alla griglia) e l'ugali (polenta). Caratterizzata da sapori autentici e ingredienti freschi, riflette la ricca tradizione culinaria del Kenya.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card__image-container">
                    <img
                        class="card__image"
                        src="../../../assets/img/kenya cultura.jpg"
                        alt=""
                    />
                </div>

                <svg class="card__svg" viewBox="0 0 800 500">
                    <path
                        d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500"
                        stroke="transparent"
                        fill="rgb(27, 73, 101)"
                    />
                    <path
                        class="card__line"
                        d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400"
                        stroke="pink"
                        stroke-width="3"
                        fill="transparent"
                    />
                </svg>

                <div class="card__content">
                    <h1 class="card__title">Cultura</h1>
                    <p>
                        La cultura keniota è una fusione di influenze africane, arabe ed europee, celebrata attraverso la musica, la danza, l'arte e la sua storia ricca di tradizioni tribali. La diversità culturale è un tratto distintivo che caratterizza l'identità variegata e affascinante del Kenya.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card__image-container">
                    <img
                        class="card__image"
                        src="../../../assets/img/kenya passaporto.jpg"
                        alt=""
                    />
                </div>

                <svg class="card__svg" viewBox="0 0 800 500">
                    <path
                        d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500"
                        stroke="transparent"
                        fill="rgb(27, 73, 101)"
                    />
                    <path
                        class="card__line"
                        d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400"
                        stroke="pink"
                        stroke-width="3"
                        fill="transparent"
                    />
                </svg>

                <div class="card__content3">
                    <h1 class="card__title">Faq & Info</h1>
                    <p>
                        Per viaggiare in Kenya, è di solito richiesto un passaporto valido con una validità residua di almeno sei mesi dalla data di arrivo. Verificare i requisiti specifici presso l'ambasciata o il consolato del Kenya o consultare il sito web ufficiale del governo keniota prima della partenza è fondamentale.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar">
        <h2 id="demotext">Prezzo</h2>
        <p class="text-light">A partire da 100€</p>
        <a class="btn btn-outline-light" routerLink="/prenota" routerLinkActive="active" id="button"><strong>Prenota ora</strong></a>
    </div>
</div>
