<!-- INIZIO CAROSELLO -->
<div
    id="carouselVideoExample"
    class="carousel slide carousel-fade"
    data-mdb-ride="carousel"
></div>
<!-- Inner -->
<div class="carousel-inner">
    <!-- Single item -->
    <div class="carousel-item active">
        <video class="img-fluid" autoplay loop muted>
            <source
                src="https://mdbcdn.b-cdn.net/img/video/Tropical.mp4"
                type="video/mp4"
            />
        </video>
        <div
            class="carousel-caption d-flex justify-content-center flex-column mb-5"
        >
            <h5 id="titologuz">Benvenuti a GUZ Viaggi</h5>
            <p id="sottoguz">scopri i luoghi più unici</p>
        </div>
    </div>
    <!-- Inner -->
</div>
<!-- FINE CAROSELLO ↖️ -->
<div class="container">
    <div class="card-group vgr-cards">
        <div class="card">
            <div class="card-img-body">
                <img
                    class="card-img"
                    src="../../assets/img/vacanze.jpg"
                    alt="Card image cap"
                />
            </div>
            <div class="card-body">
                <h4 class="card-title">Sogna le vacanze?</h4>
                <p class="card-text">
                    Si lasci ispirare e crei un piano personalizzato per tornare
                    a viaggiare coi nostri suggerimenti.
                </p>
                <a href="#" class="btn btn-outline-success"
                    >Per saperne di più</a
                >
            </div>
        </div>
        <div class="card">
            <div class="card-img-body">
                <img
                    class="card-img"
                    src="../../assets/img/estate.jpg"
                    alt="Card image cap"
                />
            </div>
            <div class="card-body">
                <h4 class="card-title">Estate 2023</h4>
                <p class="card-text">
                    Scopra tutte le offerte che abbiamo preparato per lei.
                </p>
                <a href="#" class="btn btn-outline-success"
                    >Per saperne di più</a
                >
            </div>
        </div>
        <div class="card">
            <div class="card-img-body">
                <img
                    class="card-img"
                    src="../../assets/img/sedia a rotelle.jpg"
                    alt="Card image cap"
                />
            </div>
            <div class="card-body">
                <h4 class="card-title">Bisogni speciali</h4>
                <p class="card-text">
                    Assitenza ai passaggeri con mobilità ridotta, a terra e a
                    bordo.
                </p>
                <a
                    class="btn btn-outline-success"
                    routerLink="/speciali"
                    routerLinkActive="active"
                    >Per saperne di più</a
                >
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <h2 class="mt-4">Offerte voli GUZ Viaggi e altre rotte popolari</h2>
    <h5 class="text-danger mt-3">IN ESCLUSIVA PER I MEMBRI PRIME</h5>
</div>
<div class="container my-5">
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <!-- Card -->
            <div class="bg-image card shadow-1-strong" id="Brasile">
                <div class="card-body text-white">
                    <h5 class="card-title"><strong>Brasile</strong></h5>
                    <p class="card-text">
                        <strong
                            >16 set - 19 set<br />MI
                            <i class="bi bi-airplane"></i> BR</strong
                        >
                    </p>
                    <a
                        class="btn btn-outline-light"
                        routerLink="/brasile"
                        routerLinkActive="active"
                        id="button"
                        ><strong>Prenota</strong></a
                    >
                    <span class="prezzo"><strong>€780</strong></span>
                </div>
            </div>
            <!-- Card -->
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <!-- Card -->
            <div class="bg-image card shadow-1-strong" id="Italia">
                <div class="card-body text-white">
                    <h5 class="card-title"><strong>Italia</strong></h5>
                    <p class="card-text">
                        <strong
                            >10 ott - 17 ott<br />MI
                            <i class="bi bi-airplane"></i> RM</strong
                        >
                    </p>
                    <a
                        class="btn btn-outline-light"
                        routerLink="/italia"
                        routerLinkActive="active"
                        id="button"
                        ><strong>Prenota</strong></a
                    >
                    <span class="prezzo"><strong>€75</strong></span>
                </div>
            </div>
            <!-- Card -->
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <!-- Card -->
            <div class="bg-image card shadow-1-strong" id="Portogallo">
                <div class="card-body text-white">
                    <h5 class="card-title">
                        <strong>Portogallo</strong>
                    </h5>
                    <p class="card-text text-white">
                        <strong
                            >20 ott - 24 ott<br />MI
                            <i class="bi bi-airplane"></i> PT</strong
                        >
                    </p>
                    <a
                        class="btn btn-outline-light"
                        routerLink="/portogallo"
                        routerLinkActive="active"
                        id="button"
                        ><strong>Prenota</strong></a
                    >
                    <span class="prezzo"><strong>€120</strong></span>
                </div>
            </div>
            <!-- Card -->
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <!-- Card -->
            <div class="bg-image card shadow-1-strong" id="Francia">
                <div class="card-body text-white">
                    <h5 class="card-title"><strong>Francia</strong></h5>
                    <p class="card-text">
                        <strong
                            >9 ott - 13 ott<br />MI
                            <i class="bi bi-airplane"></i> FR</strong
                        >
                    </p>
                    <a
                        class="btn btn-outline-light"
                        routerLink="/francia"
                        routerLinkActive="active"
                        id="button"
                        ><strong>Prenota</strong></a
                    >
                    <span class="prezzo"><strong>€140</strong></span>
                </div>
            </div>
            <!-- Card -->
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <!-- Card -->
            <div class="bg-image card shadow-1-strong" id="StatiUniti">
                <div class="card-body text-white">
                    <h5 class="card-title"><strong>Stati Uniti</strong></h5>
                    <p class="card-text"></p>
                    <p class="card-text text-white">
                        <strong
                            >15 ott - 21 ott<br />MI
                            <i class="bi bi-airplane"></i> USA</strong
                        >
                    </p>
                    <a
                        class="btn btn-outline-light"
                        routerLink="/statiuniti"
                        routerLinkActive="active"
                        id="button"
                        ><strong>Prenota</strong></a
                    >
                    <span class="prezzo"><strong>€985</strong></span>
                </div>
            </div>
            <!-- Card -->
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <!-- Card -->
            <div class="bg-image card shadow-1-strong" id="RegnoUnito">
                <div class="card-body text-white">
                    <h5 class="card-title"><strong>Regno Unito</strong></h5>
                    <p class="card-text"></p>
                    <p class="card-text text-white">
                        <strong
                            >26 ott - 29 ott<br />MI
                            <i class="bi bi-airplane"></i> UK</strong
                        >
                    </p>
                    <a
                        class="btn btn-outline-light"
                        routerLink="/regnounito"
                        routerLinkActive="active"
                        id="button"
                        ><strong>Prenota</strong></a
                    >
                    <span class="prezzo"><strong>€45</strong></span>
                </div>
            </div>
            <!-- Card -->
        </div>
    </div>
</div>
