.container-fluid {
    width: 100%;
    height: 27rem;
}

.carosello {
    width: 100%;
    height: 100%;
}

.carousel-item {
    height: 27rem;
}

#titologuz {
    color: transparent;
    background: #ffffff;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
    font-size: 45px;
}

#sottoguz {
    font-size: 20px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-caption {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
}

.btn-exsperience {
    width: 90px;
    border-radius: 50%;
}

.link-exsperience :hover {
    transform: scale(1.2);
}

//MEDIA QUERIES

// 320px - 480px: Mobile Devices
@media screen and (min-width: 320px) and (max-width: 480px) {
    .container-fluid {
        width: 100%;
        height: 10rem;
    }

    .carousel-item {
        height: 10rem;
    }
}

// 481px - 768px: iPads, Tablets
@media screen and (min-width: 481px) and (max-width: 768px) {
    .container-fluid {
        width: 100%;
        height: 15rem;
    }

    .carousel-item {
        height: 15rem;
    }
}

// 769px - 1024px: Small screens, laptops
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .container-fluid {
        width: 100%;
        height: 20rem;
    }

    .carousel-item {
        height: 20rem;
    }
}

// Bootstrap resets
.container {
    margin-top: 4em;
}

.card {
    border: none;
}
.card-img {
    width: 200px; /* Imposta la larghezza desiderata */
    height: 150px; /* Imposta l'altezza desiderata */
    object-fit: cover; /* Copri completamente l'area con l'immagine */
}

.vgr-cards {
    .card {
        display: flex;
        flex-flow: wrap;
        flex: 100%;
        margin-bottom: 40px;

        &:nth-child(even) .card-img-body {
            order: 2;
        }

        &:nth-child(even) .card-body {
            padding-left: 0;
            padding-right: 1.25rem;
        }

        @media (max-width: 576px) {
            display: block;
        }
    }

    .card-img-body {
        flex: 1;
        overflow: hidden;
        position: relative;

        @media (max-width: 576px) {
            width: 100%;
            height: 200px;
            margin-bottom: 20px;
        }
    }

    .card-img {
        width: 100%;
        height: 100%;
        position: absolute;
        margin-left: 50%;
        transform: translateX(-50%);

        @media (max-width: 1140px) {
            margin: 0;
            transform: none;
            width: 100%;
            height: auto;
        }
    }

    .card-body {
        flex: 2;
        padding: 0 0 0 1.25rem;

        @media (max-width: 576px) {
            padding: 0;
        }
    }
}

.bg-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.prezzo {
    margin-left: 200px; /* Regola la larghezza dell'offset a tua scelta */
}

#Brasile {
    background-image: url("../../assets/img/Rio2.jpg");
}

#Italia {
    background-image: url("../../assets/img/Roma2.jpg");
}

#Portogallo {
    background-image: url("../../assets/img/Lisbona2.jpg");
}

#Francia {
    background-image: url("../../assets/img/Parigi2.jpg");
}

#StatiUniti {
    background-image: url("../../assets/img/Newyork2.jpg");
}

#RegnoUnito {
    background-image: url("../../assets/img/Londra2.jpg");
}

#button {
    padding: 1.3em 3em;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 400;
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

#button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

#button:active {
    transform: translateY(-1px);
}
