<div class="help-center">
    <h1 class="help-center-heading">Centro Assistenza</h1>
    <div class="help-center-content">
        <div class="help-section">
            <h2 class="help-section-heading">Domande Frequenti</h2>
            <ul class="help-section-list text-success">
                <li>Come posso effettuare una prenotazione?</li>
                <li>Quali sono le politiche di cancellazione?</li>
                <li>Come posso contattare il servizio clienti?</li>
                <li>Posso modificare la mia prenotazione?</li>
            </ul>
        </div>
        <div className="help-section">
            <h2 className="help-section-heading">Contattaci</h2>
            <p className="help-section-description">
                Se hai ulteriori domande o hai bisogno di assistenza, non
                esitare a contattare il nostro servizio clienti.
            </p>
            <button class="button">Contatta il Supporto</button>
        </div>
    </div>
</div>
