<!-- INIZIO CAROSELLO -->
<div id="main">
    <div
        id="carouselVideoExample"
        class="carousel slide carousel-fade"
        data-mdb-ride="carousel"
    ></div>
    <!-- Inner -->
    <div class="carousel-inner">
        <!-- Single item -->
        <div class="carousel-item active">
            <img class="banner" src="../../../assets/img/marocco banner.jpeg" />
            <div
                class="carousel-caption d-flex justify-content-center flex-column mb-5"
            >
                <h5 id="titolo">Marocco</h5>
            </div>
        </div>
        <!-- Inner -->
    </div>

    <div class="description">
        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex align-items-start flex-column ps-5">
                <div>
                    <h3 class="titolidescri">Incluso nel pacchetto:</h3>
                    <ul class="text-light">
                        <li>10 notti in hotel a 4 stelle</li>
                        <li>Trattamento: colazione inclusa</li>
                        <li>Assicurazione base</li>
                        <li>
                            Trasferimento andata/ritorno dall’aeroporto
                            all’hotel
                        </li>
                    </ul>
                </div>
                <div>
                    <h3 class="titolidescri">Cosa non è incluso:</h3>
                    <ul class="text-light">
                        <li>
                            Il Volo (puoi aggiungerlo come extra nel carrello)
                        </li>
                        <li>Escursioni e attività opzionali</li>
                        <li>Spese di viaggio e personali</li>
                    </ul>
                </div>
            </div>
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6952049.354335099!2d-12.442316703473605!3d31.700721547144532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd0b88619651c58d%3A0xd9d39381c42cffc3!2sMarocco!5e0!3m2!1sit!2sit!4v1695663317693!5m2!1sit!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="p-4">
            <h3 class="titolidescri">Descrizione del viaggio:</h3>
            <p class="text-light">
                Il Marocco è una destinazione che offre una ricca cultura, affascinanti città antiche, una cucina deliziosa e la possibilità di esplorare il deserto del Sahara. È una meta ideale per i viaggiatori che desiderano vivere esperienze uniche e immergersi in una cultura diversificata.
            </p>
        </div>
    </div>
    <div class="d-flex">
        <div class="container">
            <div class="card">
                <div class="card__image-container">
                    <img
                        class="card__image"
                        src="../../../assets/img/cucina marocco.jpg"
                        alt=""
                    />
                </div>

                <svg class="card__svg" viewBox="0 0 800 500">
                    <path
                        d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500"
                        stroke="transparent"
                        fill="rgb(27, 73, 101)"
                    />
                    <path
                        class="card__line"
                        d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400"
                        stroke="pink"
                        stroke-width="3"
                        fill="transparent"
                    />
                </svg>

                <div class="card__content2">
                    <h1 class="card__title">Cucina</h1>
                    <p>
                        La cucina marocchina è una fusione di influenze mediterranee e africane, con piatti iconici come il couscous, il tajine e il pastilla. Caratterizzata da sapori speziati e ingredienti come il coriandolo, il cumin e l'agnello, riflette la ricca tradizione culinaria del Marocco.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card__image-container">
                    <img
                        class="card__image"
                        src="../../../assets/img/cultura marocco.jpg"
                        alt=""
                    />
                </div>

                <svg class="card__svg" viewBox="0 0 800 500">
                    <path
                        d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500"
                        stroke="transparent"
                        fill="rgb(27, 73, 101)"
                    />
                    <path
                        class="card__line"
                        d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400"
                        stroke="pink"
                        stroke-width="3"
                        fill="transparent"
                    />
                </svg>

                <div class="card__content">
                    <h1 class="card__title">Cultura</h1>
                    <p>
                        Il Marocco è una destinazione culturale affascinante, con una cucina deliziosa, antiche città, e paesaggi mozzafiato. La sua cultura unica è caratterizzata da souk vivaci, architettura intricata, e tradizioni musicali affascinanti. È una meta ideale per i viaggiatori in cerca di avventura e scoperta.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card__image-container">
                    <img
                        class="card__image"
                        src="../../../assets/img/passaporto marocco"
                        alt=""
                    />
                </div>

                <svg class="card__svg" viewBox="0 0 800 500">
                    <path
                        d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500"
                        stroke="transparent"
                        fill="rgb(27, 73, 101)"
                    />
                    <path
                        class="card__line"
                        d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400"
                        stroke="pink"
                        stroke-width="3"
                        fill="transparent"
                    />
                </svg>

                <div class="card__content3">
                    <h1 class="card__title">Faq & Info</h1>
                    <p>
                        Per viaggiare in Marocco, è di solito necessario un passaporto valido con almeno sei mesi di validità residua. Verificare i requisiti specifici prima della partenza è essenziale.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar">
        <h2 id="demotext">Prezzo</h2>
        <p class="text-light">A partire da 730€</p>
        <a class="btn btn-outline-light" routerLink="/prenota" routerLinkActive="active" id="button"><strong>Prenota ora</strong></a>
    </div>
</div>
